/* General Styles */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

/* Header Styles */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

h1 {
    display: inline-block;
    font-size: 48px;
}

nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

ul {
    list-style-type: none;
}

li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

.seo {
    color: #d9dcd6;
}

/* Hero Styles */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-size: cover;
    background-position: center;
}

/* Main Content Styles */
main {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

article {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;  
}

article h2 {
    margin-bottom: 20px;
    font-size: 36px; 
}

p {
    font-size: 16px;
}

article img {
    max-height: 200px;
}

/* Sidebar Styles */
aside {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
    color: #fff;
}

section {
    margin-bottom: 32px;
}

section h2 {
    margin-bottom: 10px;
    text-align: center;
}

section img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* Footer Styles */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h2 {
    font-size: 20px;
}
